<% provide(:title,'About Us') %>
<h1>About Us</h1>
<p>
  Keep Shiny is a collective of sys admins who are into Dev Ops and annoyed that there are no pretty automatic data center inventory tools. 
</p>