<div class="center hero-unit">
  <h1>Welcome to Browncoat</h1>

  <h2>
    Browncoat is coming soon. But you can sign up for our beta program below!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>